###############################################################################
# Operating System
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# IDE
###############################################################################

.idea/
.vscode/

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

.python-version

###############################################################################
# Python Virtual Environment
###############################################################################

.venv/
env/
venv/

###############################################################################
# Python Build Artifacts
###############################################################################

dist/
build/
*.egg-info/

###############################################################################
# Environment Variables
###############################################################################

.env
.env.*
!.env.example

###############################################################################
# Backend
###############################################################################

backend/**/__pycache__/
backend/**/*.pyc

###############################################################################
# Node
###############################################################################

node_modules/

npm-debug.log*

###############################################################################
# React/Vite
###############################################################################

frontend/app/dist/

###############################################################################
# Terraform
###############################################################################

**/.terraform/

*.tfstate
*.tfstate.*
*.tfvars

crash.log

override.tf
override.tf.json

*_override.tf
*_override.tf.json

terraform.tfvars

.terraform.lock.hcl

###############################################################################
# Docker
###############################################################################

docker-data/

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Temporary files
###############################################################################

tmp/
temp/
